<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1001111167859-gdih4rvucf3a8a5rdtadsa1do90pn5pr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1001111167859-gdih4rvucf3a8a5rdtadsa1do90pn5pr</string>
	<key>API_KEY</key>
	<string>AIzaSyBN7t_NF3wKwof_6ub4UNSKMiu-YVuUSB0</string>
	<key>GCM_SENDER_ID</key>
	<string>1001111167859</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yuanhao.firebasepractice</string>
	<key>PROJECT_ID</key>
	<string>fir-practice-bbcaa</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-practice-bbcaa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1001111167859:ios:99f2ac97b6780ca93b1b06</string>
	<key>DATABASE_URL</key>
	<string>https://fir-practice-bbcaa.firebaseio.com</string>
</dict>
</plist>